* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(185 35 50);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(185 35 50);
  font-size: 22px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.nav-link {
  display: block;
}

.nav-link a {
  color: #eee;
  text-decoration: none;
  padding: 22.5px;
}

.nav-link a:hover {
  background-color: rgb(20 60 100);
}

@media (max-width: 300px) {
  .nav {
    justify-content: center;
  }
}

img{
  position: relative;  
}
#image{
  max-width: 220px;
  border-radius: 50%;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

 h1 {
  font-family: 'Raleway', sans-serif;
  color: #eee;
  text-align: center;
  font-size: 55px;
  padding-top: 12px;
}

#welcome-section i {
  font-size: 35px;
  background-color: #444;
  color: rgb(100 0 10);
}

#projects {
  text-align: center;
  background-color: rgb(25 70 110);
}

#projects-header {
  max-width: 620px;
  margin: 0 auto 30px auto;
  padding-top: 3%;
  border-bottom: 1.5px solid #ccc;
  text-align: center;
  font-size: 40px;
  color: #ccc;
}

@media (max-width: 640px) {
  #projects-header {
    font-size: 26px;
  }
}
  
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 15px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 60px auto;
}
  
  .project {
  background: #333;
  box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 40px;
}
  
  .code {
  color: #333;
  transition: color 0.3s ease-out;
}

 .project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 50px);
  width: 100%;
  object-fit: cover;
}

.projects-grid a{
  text-decoration: none;
  color: #ccc;
}

.project-title {
  font-size: 25px;
  padding: 10px 5px;
}

#profile-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #333;
  font-size: 22px;
  text-decoration: none;
  color: #ccc;
  margin-bottom: 30px;
}

#profile-link:hover {
  background: rgb(185 35 50);
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(240, 10%, 22%);
  width: 100%;
  height: 80vh;
}

#contact-header {
  color: #ccc;
  font-size: 50px;
}

#contact-p {
  font-size: 23px;
  color: #ccc;
  font-style: italic;
}

#social {
  text-align: center;
  font-size: 25px;
}

.fa {
  padding: 20px;
  text-decoration: none;
  color: #ccc;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.fa:hover {
  opacity: 0.7;
  transform: translateY(8px);
}

#footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(240, 10%, 22%);
  border-top: 4px solid rgb(185 35 50);
  text-align: center;
  padding: 30px;
  color: #ccc;
  font-size: 20px;
  text-shadow: 2px 2px 1px #1f1f1f;
}

#footer-link {
  text-decoration: none;
  color: #ccc;
}